{% set root_url %}{{ site.root | stripslash }}{% endset %}
<!DOCTYPE html>
    <!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
    <!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
    <!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta name="author" content="{{ site.author }}">

        {% set description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw }}{% endif %}{% endset %}
        <meta name="description" content="{{ description | striptags | slice(0,150) }}">
        {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% set canonical %}{{ page.url }}{% endset %}
        <link rel="canonical" href="{{ canonical }}">
        <link href="{{ site.root }}favicon.png" rel="icon">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.root }}stylesheets/devophp.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </head>
    <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == 'none' %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
        <header role="banner">
            <div class="container">
                <h1>Devophp</h1>
                <h2>Tools for Devops written in PHP</h1>
            </div>
        </header>    
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ root_url }}/">Devophp</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ root_url}}/agent">Agent</a></li>
                                <li><a href="{{ root_url}}/monitor">Monitor</a></li>
                                <li><a href="{{ root_url}}/nagios-library">Nagios library</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class=""><a href="http://www.github.com/devophp/" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="content">
            <div class="container">
                {% block content %}
                {{ content | raw }}
                {% endblock %}
            </div>
        </div>
        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Further reading</h3>
                        <ul class="">
                            <li><a href="{{ root_url }}/">Frontpage</a></li>
                            <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
                            <li><a href="http://www.github.com/devophp/" target="_blank">Github</a></li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <h3>Created by</h3>
                        <a href="http://www.linkorb.com/engineering">LinkORB Engineering</a>
                    </div>
                </div>
        </footer>
    </body>
</html>
